torch~=2.0.0
torchaudio~=2.0.1
torchmetrics~=0.11.4
Cython~=0.29.34
wget~=3.2
text-unidecode~=1.3
nemo_toolkit[asr]~=1.17.0
tqdm~=4.65.0
scikit-learn~=1.2.2
numpy~=1.23.5
pandas~=2.0.0
matplotlib~=3.7.1
